body{
    text-align: center;
    font-family: 'Playfair Display',serif;
    background-image: url(https://carlosfelice.com.ar/blog/wp-content/uploads/que-comemos-los-argentinos-borderperiodismo-asado-pizza-milanesa1.jpg);
}
footer, .header-principal{
    text-align: center;
    background-color: rgb(14, 132, 24, 90%);
    max-width: 60%;
    margin:auto auto;
    border-radius: 10%;
}

.encabezado{
    text-shadow: 1px 1px 2px black, 0 0 1em yellow, 0 0 0.2em yellow;
}

.cunados{
    color:rgb(0, 0, 0);
    font-family: 'Homemade Apple', cursive;
    min-width: 40%;
    max-width: 70%;
    margin: 0 0;
    padding: 0 0;
}

iframe{
    max-width: 50%;
    max-height: 100px;
    border-radius: 5%;
}
.links {
    color: rgb(148, 13, 148);
    text-decoration: none;
    font-weight: bold;
}

footer > div{
    font-weight: bold;
}

.cuerpo-medio{
    font-weight: bold;
    color: black;
    background-color: rgba(255, 255, 255, 0.60);
    border-radius: 5%;
    margin: auto;
    max-width: 60%;
}

.direccion {
    margin-bottom: 0px;
}